// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "./app/styles/variables" as v;
@use "sass:map";

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: v.$primary-palette,
        tertiary: v.$tertiary-palette,
      ),
      typography: Hind,
      density: 0,
    )
  );
} /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.mdc-button[mat-flat-button] {
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);

  @include mat.button-overrides(
    (
      filled-label-text-color: white,
      filled-container-shape: 5px,
      filled-horizontal-padding: v.$spacing * 3,
      filled-label-text-weight: var(--mat-sys-label-large-weight-prominent),
    )
  );
}

.table-container:has(table.mat-mdc-table) {
  border: 1px solid map.get(v.$neutral-palette, 100);
}

table.mat-mdc-table {
  thead .mat-mdc-header-row {
    background-color: map.get(v.$neutral-palette, 94);
    th {
      border: 1px solid map.get(v.$neutral-palette, 100);
    }
    .mat-sort-header-arrow svg {
      width: 22px;
      height: 25px;
    }
  }

  @include mat.table-overrides(
    (
      header-headline-color: map.get(v.$neutral-palette, 50),
      background-color: transparent,
      header-container-height: 40px,
      row-item-container-height: 40px,
      row-item-outline-color: map.get(v.$neutral-palette, 100),
      row-item-label-text-color: map.get(v.$neutral-palette, 50),
      header-headline-weight: 500,
      row-item-label-text-weight: 500,
      row-item-label-text-line-height: v.$spacing * 2
    )
  );

  @include mat.sort-overrides(
    (
      arrow-color: map.get(v.$neutral-palette, 50),
    )
  );
}

.mat-mdc-paginator {
  @include mat.paginator-overrides(
    (
      container-text-color: map.get(v.$neutral-palette, 50),
      container-background-color: white,
      container-text-weight: 500,
      container-text-size: var(--mat-sys-body-medium-size),
      container-size: auto,
    )
  );

  .mat-mdc-paginator-container {
    padding: 0;
  }

  .mat-mdc-paginator-range-label {
    margin: 0 v.$spacing * 2;
  }
}
