@if (isLoading() || isLimitReached()) {
  <div class="loading-backdrop">
    @if (isLoading()) {
      <mat-spinner></mat-spinner>
    }
    @if (isLimitReached()) {
      <p class="limit-reached-info">
        GitHub's API limit reached. Wait few minutes and try again.
      </p>
    }
  </div>
}

<div class="table-container">
  <table
    mat-table
    [dataSource]="data() ?? []"
    matSort
    [matSortActive]="queryParams().sort"
    matSortDisableClear
    [matSortDirection]="queryParams().order"
    (matSortChange)="sortChange.emit($event)"
  >
    <ng-container matColumnDef="created">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [width]="dateColumnWidth"
      >
        Created On
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-container
          *ngTemplateOutlet="
            date;
            context: { $implicit: typedRow(row).created_at }
          "
        ></ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="updated">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        disableClear
        [width]="dateColumnWidth"
      >
        Updated On
      </th>
      <td mat-cell *matCellDef="let row">
        <ng-container
          *ngTemplateOutlet="
            date;
            context: { $implicit: typedRow(row).updated_at }
          "
        ></ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let row">{{ typedRow(row).title }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<mat-paginator
  [length]="totalCount()"
  [pageSize]="queryParams().per_page"
  [pageIndex]="queryParams().page - 1"
  [hidePageSize]="true"
  [showFirstLastButtons]="true"
  (page)="pageChange.emit($event)"
>
</mat-paginator>

<ng-template #date let-value>
  {{ value | date: dateFormatTop }} <br />
  {{ value | date: dateFormatBottom | lowercase }}
</ng-template>
